body {
	font-family: sans-serif;
	background-color: aliceblue;
}

#header {
	text-align: center;
	color: royalblue;
	font-size: 30px;
}

#clickme {
	margin: 0 auto;
	font-size: 30px;
	background-color: pink;
	width: 120px;
	text-align: center;
	border-radius: 5px;
	color: red;
}

img {
	background-color: none;
	width: 78px; 
	height: 69px;
	position: relative;
	left: 10px;
	border-radius: 40px;
}

#duck1a, #duck3c {
	background-color: green;
}

#duck1b, #duck3a, #duck4b {
	background-color: yellow;
} 

#duck1c, #duck2b, #duck4a {
	background-color: red;
}


#water {
	background-color: dodgerblue;
	height: 300px;
}

.setdiv {
	height: 75px;
}